* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

#nav {
    padding-left: 25%;
}

#nav > li {
    display: inline-block;
}

#nav li {
    list-style: none;
    position: relative;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    margin: 0 30px 0 30px;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    font-size: 0.9rem;
    display: block;
}

#content {
    max-width: 800px;
    padding: 64px 0 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.content-text-sub {
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
    text-align: justify;
}

.content-img {
    margin-top: 46px;
    padding: 30%;
    text-align: center;
    background: url('../img/lehoi.jpg') top center / cover no-repeat;
}

#contact {
    background-color: #000;
}

.contact-around {
    max-width: 800px;
    padding: 64px 0 64px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#contact .info{
    display: flex;
    padding: 32px 0;
    justify-content: space-between;
}

.date {
    width: 50%;
    text-align: left;
}

.date p {
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 12px;
}

.date p i {
    margin-right: 12px;
}

.info-fill {
    width: 50%;
}

.info-fill-head {
    display: inline-flex;
    margin-bottom: 8px;
    font-size: 1rem;
}

.info-fill-name,
.info-fill-phone {
    border: 1px solid #ccc;
    margin: 0 8px;
    padding: 12px 32px 12px 7px;
}

.info-fill-email {
    border: 1px solid #ccc;
    margin-bottom: 8px;
    width: 100%;
    padding: 12px 30px 12px 8px;
}

.info-send {
    cursor: pointer;
    border: 0;
    float: right;
    padding: 10px 22px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    background-color: #fff;
    color: #000;
}

.info-send:hover {
    background-color: #ccc;
    color: #000;
}

.info-fill-bottom {
    font-size: 1rem;
    margin: 0 12px;
}

.footer-social {
    padding: 64px 0;
    text-align: center;
    color: rgb(117, 117, 117);
    font-size: 1.5rem;
    margin-bottom: 20px;
}